flows_ip-172-31-9-52.json
[{"id":"354ca59f.396852","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"90a273.fae7959","type":"inject","z":"354ca59f.396852","name":"","topic":"","payload":"bye","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":96,"wires":[["d3300677.f60618"]]},{"id":"22df9421.75322","type":"debug","z":"354ca59f.396852","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":486,"y":102,"wires":[]},{"id":"d3300677.f60618","type":"function","z":"354ca59f.396852","name":"","func":"var msg = { payload:\"first out of output 1\" };\nreturn msg;","outputs":1,"noerr":0,"x":317.5,"y":100,"wires":[["22df9421.75322"]]}]